Repository tensorflow/datasets, pull requests merged in 2021-12, with the labels that each got.

#3482 smartwatch gestures
  setup.py
  tensorflow_datasets/__init__.py
  tensorflow_datasets/time_series/__init__.py
  tensorflow_datasets/time_series/smartwatch_gestures/__init__.py
  tensorflow_datasets/time_series/smartwatch_gestures/checksums.tsv
  tensorflow_datasets/time_series/smartwatch_gestures/class_labels.txt
  tensorflow_datasets/time_series/smartwatch_gestures/dummy_data/gestures-dataset/U99/01/00.txt
  tensorflow_datasets/time_series/smartwatch_gestures/dummy_data/gestures-dataset/U99/01/01.txt
  tensorflow_datasets/time_series/smartwatch_gestures/dummy_data/gestures-dataset/U99/01/02.txt
  tensorflow_datasets/time_series/smartwatch_gestures/dummy_data_generation.py
  tensorflow_datasets/time_series/smartwatch_gestures/smartwatch_gestures.py
  tensorflow_datasets/time_series/smartwatch_gestures/smartwatch_gestures_test.py
Labels: cla: yes

#3567 Minor changes in documentation
  docs/add_dataset.md
  docs/common_gotchas.md
  docs/contribute.md
  docs/decode.md
  docs/external_tfrecord.md
  docs/gcs.md
Labels: cla: yes, tfds:needs_final_approval, tfds:ready_to_merge

#3259 Update URL for `imagenet_resized` dataset
  tensorflow_datasets/image_classification/imagenet_resized.py
  tensorflow_datasets/url_checksums/imagenet_resized.txt
Labels: cla: yes

#2886 Adding asset dataset for text simplification task. This is also a task for the GEM: Natural Language Generation, Evaluation and Metrics workshop to be held at ACL 2021.
  tensorflow_datasets/__init__.py
  tensorflow_datasets/text_simplification/__init__.py
  tensorflow_datasets/text_simplification/asset/__init__.py
  tensorflow_datasets/text_simplification/asset/asset.py
  tensorflow_datasets/text_simplification/asset/asset_test.py
  tensorflow_datasets/text_simplification/asset/checksums.tsv
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.orig
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.0
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.1
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.2
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.3
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.4
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.5
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.6
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.7
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.8
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.test.simp.9
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.orig
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.0
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.1
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.2
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.3
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.4
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.5
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.6
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.7
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.8
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/asset.valid.simp.9
  tensorflow_datasets/text_simplification/asset/dummy_data/ratings/1.0.0/human_ratings.csv
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.orig
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.0
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.1
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.2
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.3
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.4
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.5
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.6
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.7
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.8
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.test.simp.9
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.orig
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.0
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.1
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.2
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.3
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.4
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.5
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.6
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.7
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.8
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/asset.valid.simp.9
  tensorflow_datasets/text_simplification/asset/dummy_data/simplification/1.0.0/human_ratings.csv
Labels: cla: yes, dataset request, tfds:please_review
